.city-list{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap:1.125rem;
    z-index: 1;
}

.city-list-item{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 16rem;
}

.city-list-item-img{
    width: 100%;
    object-fit: cover;
}

.city-list-item-title{
    position: absolute;
    bottom: 1.1rem;
    left: 1.1rem;
}