.header{
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-container{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.header-container.list-mode{
    margin: 20px 0px 0px 0px;
}

.header-container-list{
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

.header-container-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container-list-item.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;

}

.header--description{
    margin: 20px 0px;
}

.header--button{
    background-color: #0071c2;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 10px;

}

.header--searchbar{
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.header--searchbar-icon{
    color: lightgray;
}

.header--searchbar-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header--searchbar-input{
    border: none;
    outline: none;
}

.header--searchbar-item-span{
    color: black;
    cursor: pointer;
}

.header--searchbar-date-range{
    position: absolute;
    top: 55px;
    -webkit-box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 21;
}

.header--searchbar-options{
    position: absolute;
    top: 55px;
    background-color: white;
    color: black;
    -webkit-box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     z-index: 21;
}

.header--searchbar-options-item{
    width: 15rem;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.header--searchbar-options-counter{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}

.header--searchbar-options-counter-button{
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    cursor: pointer;
    background-color: white;
}
.header--searchbar-options-counter-button:disabled{
    cursor: not-allowed;
}